/* Geologica */
@font-face {
  font-family: 'Geologica';
  src: url('/fonts/Geologica/Geologica-ExtraLight.woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/fonts/Geologica/Geologica-Light.woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/fonts/Geologica/Geologica-Regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/fonts/Geologica/Geologica-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Federov2 */
@font-face {
  font-family: 'Federov2';
  src: url('/fonts/federov2-regular.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
