@import url(reset.css);
@import url(variables.css);

/*  */

body {
  min-width: 360px;
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--main-green);
  line-height: 140%;
  background-color: white;
  overflow-x: hidden;
}

body.open_menu {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  box-sizing: content-box;
  padding: 0 40px;
  margin: 0 auto;

  /*  */
  @media (max-width: 576px) {
    padding: 0 20px;
  }
}

/*  */
a {
  text-decoration: none;
}

/*  */
.h2_56 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  text-wrap: pretty;
  color: var(--main-green);

  /*  */
  @media (max-width: 1280px) {
    font-size: 48px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 576px) {
    font-size: 22px;
  }
}

.h2_72 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: var(--main-green);

  /*  */
  @media (max-width: 1280px) {
    font-size: 60px;
  }

  @media (max-width: 768px) {
    font-size: 48px;
  }

  @media (max-width: 576px) {
    font-size: 26px;
  }
}

.h3_32 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  color: var(--main-green);

  /*  */
  @media (max-width: 1280px) {
    font-size: 26px;
  }

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.p_20 {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 20px;
  line-height: 140%;
  color: var(--main-green);

  /*  */
  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 576px) {
    font-size: 15px;
  }
}

/*  */
s {
  text-decoration-color: var(--light-gray3);
}

/* Кнопки слайдера */
.swiper-btn {
  width: 62px;
  height: 62px;
  background-image: url('/images/arrow-slider-white-bg.svg');
  background-size: contain;
  opacity: 0.5;
  cursor: pointer;
  z-index: 1;
  transition: opacity var(--transition-speed);
}

.swiper-btn:hover {
  opacity: 1;
}
